.row {
  width: 95%;
  margin: 0 auto;
}

/* Styling Header */

section {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

a {
  text-decoration: none;
  color: #fff;
}
@media only screen and (max-width: 500px) {
  a {
    font-size: 80%;
  }
}
